<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type= "text/css"  href="{{url_for('static', filename='style.css')}}" />

</head>
<body>
    <div id='images'>
        {% for pair in images %}
        <img src="{{url_for('downloadFile', filename=pair[0])}}" alt="{{pair[0]}}" class="{{pair[1]}}"/>
        {% endfor %}
        <a href="{{url_for('mainPage', pagesNum=pagesNum, page=page+1, folderPath=folderPath)}}">NEXT</a>
    </div>
</body>

</html>
